.applabel {
    border-bottom: solid 1px #E6E6E6;
    padding-bottom: 2px;
    padding: 0px 0px 5px 0px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
}

.applabel a {
    color: black;
}

.appbox {
    border: solid 1px #E6E6E6;
    padding: 10px;
    margin-left: 0px;
}
.signin {
    width: 335px;
    margin: 0 auto;
}

.signin-box {
    padding: 20px 25px 15px;
    background: #f1f1f1;
    border: 1px solid #e5e5e5;
}

.signin-box h2 {
    font-size: 16px;
    font-weight: normal;
    line-height: 17px;
    height: 16px;
    margin: 0 0 19px;
}

.signin-box input[type=checkbox] {
    vertical-align: bottom;
}

.signin-box input[type=text],
.signin-box input[type=password] {
    width: 100%;
    font-size: 15px;
    color: black;
    line-height: normal;
    height: 32px;
    margin: 0 0 20px;
    box-sizing: border-box;
}

.signin-box input[type=submit] {
    margin: 0 20px 15px 0;
}

.signin-box label {
    color: #222;
    margin: 0 0 5px;
    display: block;
    font-weight: bold;
    font-size: 13px;
}

.signin-box label.remember {
    display: inline-block;
    vertical-align: top;
    margin: 9px 0 0;
    line-height: 1;
    font-size: 13px;
}

.signin-box .remember-label {
    font-weight: normal;
    color: #666;
    line-height: 0;
    padding: 0 0 0 5px;
}

.signin-box ul {
    list-style: none;
    line-height: 17px;
    margin: 0;
    padding: 0;
}

.block-grid { display: block; overflow: hidden; padding: 0; }
.block-grid > li { display: block; height: auto; float: left; }
.block-grid.one-up { margin: 0; }
.block-grid.one-up > li { width: 100%; padding: 0 0 15px; }
.block-grid.two-up { margin: 0 -15px; }
.block-grid.two-up > li { width: 50%; padding: 0 15px 15px; }
.block-grid.two-up > li:nth-child(2n+1) { clear: both; }
.block-grid.three-up { margin: 0 -12px; }
.block-grid.three-up > li { width: 33.33333%; padding: 0 12px 12px; }
.block-grid.three-up > li:nth-child(3n+1) { clear: both; }
.block-grid.four-up { margin: 0 -10px; }
.block-grid.four-up > li { width: 25%; padding: 0 10px 10px; }
.block-grid.four-up > li:nth-child(4n+1) { clear: both; }
.block-grid.five-up { margin: 0 -8px; }
.block-grid.five-up > li { width: 20%; padding: 0 8px 8px; }
.block-grid.five-up > li:nth-child(5n+1) { clear: both; }
.block-grid.six-up { margin: 0 -8px; }
.block-grid.six-up > li { width: 16.66667%; padding: 0 8px 8px; }
.block-grid.six-up > li:nth-child(6n+1) { clear: both; }
.block-grid.seven-up { margin: 0 -8px; }
.block-grid.seven-up > li { width: 14.28571%; padding: 0 8px 8px; }
.block-grid.seven-up > li:nth-child(7n+1) { clear: both; }
.block-grid.eight-up { margin: 0 -8px; }
.block-grid.eight-up > li { width: 12.5%; padding: 0 8px 8px; }
.block-grid.eight-up > li:nth-child(8n+1) { clear: both; }
.block-grid.nine-up { margin: 0 -8px; }
.block-grid.nine-up > li { width: 11.11111%; padding: 0 8px 8px; }
.block-grid.nine-up > li:nth-child(9n+1) { clear: both; }
.block-grid.ten-up { margin: 0 -8px; }
.block-grid.ten-up > li { width: 10%; padding: 0 8px 8px; }
.block-grid.ten-up > li:nth-child(10n+1) { clear: both; }
.block-grid.eleven-up { margin: 0 -8px; }
.block-grid.eleven-up > li { width: 9.09091%; padding: 0 8px 8px; }
.block-grid.eleven-up > li:nth-child(11n+1) { clear: both; }
.block-grid.twelve-up { margin: 0 -8px; }
.block-grid.twelve-up > li { width: 8.33333%; padding: 0 8px 8px; }
.block-grid.twelve-up > li:nth-child(12n+1) { clear: both; }


.inline-list {
    margin: 0 auto 1.0625em auto;
    margin-left: -1.375em;
    margin-right: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.inline-list > li {
    list-style: none;
    float: left;
    margin-left: 1.375em;
    display: block;
}
.inline-list > li > * {
    display: block;
}

.tab-content .row {
    padding: 25px;
}

.indented {
    padding-left: 20px;
}
